@import "tailwindcss";
 //

 body {
  font-family: 'NewTransport', sans-serif !important;
}

html {
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-font-feature-settings: inherit;
    -ms-text-size-adjust: 100%;
    font-size: 62.5%;
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body {
    background: #f6f6f6;
    color: #21252d; 
    font-size: 14px;
    height: 100%;
    letter-spacing: 0;
    line-height: 21px;
    margin: 0;
    padding: 0;
    position: relative;
}

h1 {
    font-family: "NewTransport", Arial, Helvetica, Verdana, sans-serif;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: .05em;
    line-height: 22px;
    line-height: 2.2rem;
    margin-bottom: 34px;
    margin-bottom: 3.4rem;
    text-transform: uppercase;
 }

h2 {
    font-family:"NewTransport" , Arial, Helvetica, Verdana, sans-serif;
    font-size: 16px;
    font-size: 1.6rem;
    letter-spacing: 0;
    line-height: 24px;
    line-height: 2.4rem;
    font-weight: 700;
}

h3 {
    font-family: "NewTransport",Arial,Helvetica,Verdana,sans-serif;
    font-size: 26px;
    font-size: 2.6rem;
    letter-spacing: -.005em;
    line-height: 36px;
    line-height: 3.6rem;
    margin-bottom: 42px;
    margin-bottom: 4.2rem;
    font-weight: 300;
}

h4 {
    font-family: "NewTransport",Arial,Helvetica,Verdana,sans-serif;
    font-size: 24px;
    font-size: 2.4rem;
    letter-spacing: -.005em;
    line-height: 32px;
    line-height: 3.2rem;
    margin-bottom: 23px;
    margin-bottom: 2.3rem;
    font-weight: 700;
}

h5 {
    font-family: "NewTransport",Arial,Helvetica,Verdana,sans-serif;
    font-size: 16px;
    font-size: 1.6rem;
    letter-spacing: .025em;
    line-height: 22px;
    line-height: 2.2rem;
    margin-bottom: 15px;
    margin-bottom: 1.5rem;
    font-weight: 700;
}

h6 {
    font-family: "NewTransport",Arial,Helvetica,Verdana,sans-serif;
    font-size: 16px;
    font-size: 1.6rem;
    letter-spacing: .025em;
    line-height: 22px;
    line-height: 2.2rem;
    margin-bottom: 15px;
    margin-bottom: 1.5rem;
    font-weight: 300;
}


p {
    margin: 0 0 20px 0;
    margin: 0 0 2rem 0
}

figure {
    margin: 0;
    padding: 0
}

img {
    border: none;
    display: block;
    height: auto;
    margin: 0 auto;
    padding: 0;
    max-width: 100%
}

ul,ol {
    counter-reset: item;
    list-style: none;
    margin: 0 0 20px;
    margin: 0 0 2rem;
    padding: 0
}

ul li {
    text-align: left;
}

a, a:visited {
    color:#1d1d1d;
    font-weight: 700;
    text-decoration: none;
    -webkit-transition: background .2s ease, text-decoration .2s ease, color .2s ease;
    -moz-transition: background .2s ease,text-decoration .2s ease,color .2s ease;
    -o-transition: background .2s ease,text-decoration .2s ease,color .2s ease;
    transition: background .2s ease, text-decoration .2s ease, color .2s ease;
}

.wrapper {
    max-width: 1160px;
    position: relative;
    margin: 0px auto;
    padding: 0px 2rem;
}

.button {
  color: #2b2d32;
}

.accreditation-icons{
    text-align: center;
    h3 {
        margin-bottom: 1.2rem;
    }
    ul {
        margin: 0 auto 10px;
        padding: 0;
        display: table;
        li {
                padding: 0 20px;
                vertical-align: top;
                width: 737px !important;
                display: table;
                margin: 0 auto;
            }
        figure {
            height: 96px;
            width: auto;
            display: table-cell;
            vertical-align: middle;
            margin: 0 auto;
        }
        img {
            max-width: 180px;
        }
        .accreditation-text {
            margin-top: 1rem;
            padding-left: 20px;
            text-align: left;
            display: table-cell;
            vertical-align: middle;
        p {
            font-family: Arial, Helvetica, Verdana, sans-serif;
            font-size: 14px;
            line-height: 21px;
            margin: 0;
            padding: 0;
        }
        }

    }
}

.rich-text {
    background: #fff;
    margin: 0 auto;
    padding: 33px 75px 14px;
    padding: 3.3rem 7.5rem 1.4rem !important;
    .eight-column-width {
        max-width: 92%;
    }
    p {
        height: auto !important;
        margin-bottom: 24px;
        margin-bottom: 2.4rem !important;
        font-size: 14px;
    }
    a, a:visited {
    color: #07818c;
    font-weight: 700;
    text-decoration: none;
    }
}
 .row {
        padding: 1.5rem 0 !important;
 }

 @media (max-width:768px) {
    .row {
        padding: 1rem 0 !important;
 }
 .accreditation-icons{
    ul{
        li{
             width: 100% !important;
        }
        figure {
            display: block;
            vertical-align: middle;
        }
        .accreditation-text {
        padding: 30px;
        text-align: center;
        display: block !important;
    }
    }
 }
 }
